<!DOCTYPE html>
<html lang="ko">

<style>
    body{
        
        background-color:lightsteelblue;
        background-size: cover;
    }
</style>

<head>

            <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>

    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>



    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SubinSecondWEB_LIKELION</title>
</head>
<body>
    <!--원광대학교 디지털콘텐츠공학과 20173298 오수빈-->
    <div class="container">


        <h1 class="text-center">why</h1>
        <br><br>

        <p class="text-center">사람들이 글자의 수를 셀 때 더욱 편하게 하기 위해서 WordCount 웹 페이지를 만들었습니다!</p>
        <br>
            
        <p class="text-center"><button type="button" class="btn btn-default"><a href="{%url 'index'%}">Home으로 돌아가기</a></button></p>

   

    

    </div>
</body>
</html>
